/* MEDIA QUERIES */

@media only screen and (max-width: 1320px) {
  .indicaters {
    margin-top: -1rem;
    margin-left: -2rem;
  }
  .text {
    margin-left: -2rem;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #061c2c;
    float: left;
    width: 56%;
  }

  .next {
    margin-top: -1.8rem !important;
    left: 85% !important;
  }
}

@media only screen and (max-width: 1214px) {
  .next {
    margin-top: -2rem;
    left: 0%;
  }
}

@media only screen and (max-width: 1550px) {
  .buttons-container {
    flex-wrap: wrap;
  }

  .box-blue {
    width: 100% !important;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  .buttons-container {
    gap: 1rem;
  }
}
@media only screen and (max-width: 1060px) {
  .next {
    left: 82% !important;
  }

  .text-icons {
    justify-content: flex-end !important;
  }

  .indicaters {
    margin-top: -1.5rem;
    margin-left: -3.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .card-container {
    flex-direction: column !important;
    align-items: center;
  }

  .card {
    width: 100% !important;
  }
}
@media only screen and (max-width: 920px) {
    .text {
        width: 100% !important;
    }

}
@media only screen and (max-width: 1200px) {
  .card-container {
    flex-direction: column !important;
    align-items: center;
  }

  .card {
    width: 80% !important;
  }
}

@media only screen and (max-width: 880px) {
  .navbar {
    padding: 5px !important;
    margin: 0px 4rem !important;
  }

  .logo {
    width: 200px !important;
    height: 75px !important;
  }

  .hamburger {
    padding-top: 0px !important;
    padding: 5px !important;
    width: 40px !important;
  }

  .slide-img {
    width: 85% !important;
  }

  .indicaters {
    top: 95% !important;
    left: 85% !important;
  }

  .indicator {
    width: 25px !important;
    height: 25px !important;
  }

  .next {
    top: 50% !important;
    left: 85% !important;
    width: 4rem !important;
    height: 8rem !important;
  }

  .blue-text {
    font-size: medium !important;
    width: 17rem !important;
    height: 2.5rem !important;
    top: 50% !important;
    padding: 10px !important;
  }

  .blue-text p {
    margin-top: 5% !important;
  }

  .black-divbox {
    height: 3.5rem !important;
    top: 50% !important;
  }
}

@media only screen and (max-width: 680px) {
    .next {
        top: 48% !important;
        left: 82% !important;
        width: 4rem !important;
        height: 8rem !important;
    }

    .text {
        font-size: 18px !important;
        line-height: 30px !important;
      }

      .text-icons {
        margin: 20px 2.5rem !important;
      }
}

@media only screen and (max-width: 440px) {
  .text {
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 0 !important;
    width: 100% !important;
    margin-left: 1rem !important;
  }

  .text-icons {
    margin: 20px 2rem !important;
  }

  .logo {
    width: 150px !important;
    height: 63px !important;
  }

  .hamburger {
    padding-top: 0px !important;
    padding: 3px !important;
    width: 25px !important;
  }

  .navbar {
    padding: 1px !important;
    margin: 0px 2rem !important;
  }

  .blue-text {
    font-size: small !important;
    width: 14rem !important;
    height: 2rem !important;
    top: 45% !important;
    padding: 10px !important;
  }

  .blue-text p {
    margin-top: 4% !important;
  }

  .black-divbox {
    height: 2.9rem !important;
    top: 45% !important;
  }

  .next {
    width: 3rem !important;
    height: 6rem !important;
}

  .card {
    min-width: 10rem !important;
  }

  .text-icons {
    justify-content: center !important;
  }


  .indicaters {
    top: 95% !important;
    left: 85% !important;
  }

  .indicator {
    width: 20px !important;
    height: 20px !important;
  } 
}

@media only screen and (max-width: 330px)  {
    .icons img {
        width: 17rem !important;
    }

}
@media only screen and (max-width: 340px)  {
 .card-text{
 font-size: 26px!important;   
 }
    
}


@media only screen and (max-width: 330px) {
    .text {
        font-size: 14px !important;
        line-height: 16px !important;
        font-weight: 0 !important;
        width: 100% !important;
        margin-left: 1rem !important;
      }

      .icons img {
        width: 20rem;
      }
    
      .text-icons {
        margin: 20px .8rem !important;
      }
    
      .logo {
        width: 150px !important;
        height: 60px !important;
      }
    
      .hamburger {
        padding-top: 0px !important;
        padding: 3px !important;
        width: 25px !important;
      }
    
      .navbar {
        padding: 1px !important;
        margin: 0px 2rem !important;
      }
    
      .blue-text {
        font-size: x-small !important;
        width: 11rem !important;
        height: 1.5rem !important;
        top: 45% !important;
        padding: 10px !important;
      }
    
      .blue-text p {
        margin-top: 3% !important;
      }
    
      .black-divbox {
        height: 2.7rem !important;
        top: 45% !important;
      }
    
      .next {
        width: 2rem !important;
        height: 4rem !important;
        margin-top: -1.2rem !important;
    }
    
      .card {
        min-width: 10rem !important;
      }
    
      .text-icons {
        justify-content: center !important;
      }
    
    
      .indicaters {
        top: 105% !important;
        left: 95% !important;
      }
    
      .indicator {
        width: 13px !important;
        height: 13px !important;
      } 
}
